@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.list{
    display: flex;
    margin-top: 20px;
}

.list-container p{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: 5px;
    margin-top: -5px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    overflow-y: auto; /* Allow scrolling only on list */
}

.list-container select{
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: -10px;
    margin-left: 5px;
    font-family:  'Outfit';
}

.list-container-card {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add space between cards */
    overflow-y: auto; /* Enable scrolling for list */
    height: calc(100vh - 130px); /* Adjust height for scrollable area */
    padding: 0 10px;
    box-sizing: border-box;
  }