* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth; /* Smooth scrolling */
}


.main-container{
  display: flex;
  margin-top: 5px;
}

.main-container .list{
  flex: 1;
}

.main-container .map{
  flex: 2;
  margin-left: 20px;
}